@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap');


*{
  margin: 0;
  padding: 0;
}

body{
    background-color: blanchedalmond;
    background-image: url("bg2.jpeg");
}

nav{
  font-family: 'Ubuntu', sans-serif;
  
}

.nav ul{
  display: flex;
  height: 60px;
  list-style: none;
  background-color: black;
  color: white;
  align-items: center;
}

.nav ul li{
  padding: 0px 10px;
}

.nav-logo img{
    width: 50px;
    padding: 0px 10px;
}

.nav-logo{
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 1.3rem;
}

.container{
  min-height: 60vh;
  background-color: black;
  color: white;
  margin: 23px auto;
  display: flex;
  width: 60%;
  border-radius: 12px;
  padding: 35px;
  background-image: url('bg3.jpg');
}

.bottom{
  background-color: black;
  color: white;
  height: 85px;
  position: static;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icons{
  margin-top: 20px;
  cursor: pointer;
}
 
#myProgressBar{
  width: 80vw;
  text-align: center;
  cursor: pointer;
}
.songItem{
  height: 50px;
  background-color: white;
  display: flex;
  border-radius: 35px;
  width: 80%;
  color: black;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.songItem img{
  width: 35px;
  margin: 0 15px;
}

.timespan{
  padding-right: 25px;
  cursor: pointer;
}